*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	overflow: hidden;
}
.box{
	width: 20vw;
	height: 20vh;
	margin: 40vh auto;
	border: 1px solid black;
	background-color: blueviolet;
	transition: 2s;

}
.box:hover{
	background-color: aqua;
	transform: scale(1.5);
	width: 300px;
	cursor: pointer;
}