@media (max-width: 977px) {
    #smallDisplay {
        display: block;
    }
    header .men {
        margin: 0 ;
        padding-top: 10px;
        padding-left: 0 ;
    }
    
    .container{
        width: 768px;
    }
}

@media (max-width: 977px) {
    #lorem {
        width: 272px;
        height: 180px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        color: #ffffff;
        font-family: "League Gothic";
        font-size: 16px;
        font-weight: 300;
    }
    .textCenter {
        width: 272px;
        height: 180px;
        overflow: hidden;
    }
    header #small {
        font-size: 14px;
    }
    header #small h2 span{
        display: none;
    }
     .button2 {
    background: url(../image/3-layers.png) no-repeat;
    background-position: 0 0;
    width: 40px;
    height: 29px;
}

 .button3 {
    
    background-position: 0 0;
    width: 40px;
    height: 29px;
}
    section .container{
       padding: 70px 20px;
        justify-content: flex-start;
    }
    .boxes2 .readMore{
        left: 70%;
    }
    .boxes2 #other{
        width: 280px;
        height: 52px;
        overflow: hidden;
    }
    footer .container .designed h4{
        padding-top: 30px;
    }
    
    
}