main {
    background-color: #f9f9f9;
    height: 450px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

main .container {
    display: flex;
    justify-content: space-between;
}

.boxes1 {
    display: flex;
    background-color: white;
    width: 40%;
height: 292px;
   padding-top: 25px;
/*    position: absolute;*/
/*    left: 30%;*/
}

.face {
    background: url(../image/face.png) no-repeat;
    box-shadow: 1px 2px 0 #ffffff, inset 1px 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 49px;
    border-radius: 50%;
/*    margin: 0 15px;*/
    position: relative;
    right: 5%;
}

.faceText p {
    overflow: hidden;
    width: 100%;
    height: 205px;
    text-shadow: 1px 1px 0 #ffffff;
    color: #454545;
    font-family: "Open Sans Light Regular";
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    padding-top: 15px;
    
    
    left: 35px;
}

.faceText span {
    text-shadow: 1px 1px 0 #ffffff;
    color: #edbfff;
    font-family: "League Gothic";
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.faceText h1 {
    color: #454545;
    font-family: "League Gothic";
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    
}

.nunc {
    display: flex;
    padding-top: 15px;
   
}

.nunc p {
    width: 100%;
    height: 41px;
    text-shadow: 1px 1px 0 #ffffff;
    color: #454545;
    font-family: "Open Sans Light Regular";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.nunc span {
    font-family: "Open Sans - Extrabold";
    font-weight: bolder;
    text-shadow: 1px 1px 0 #ffffff;
    color: #454545;
    font-weight: 300;
    line-height: 24px;
    font-size: 20px;
}
.boxes2{
    padding-top: 22px;
    padding-left: 20px;
    width: 50%;
    
}
.boxes2 .faseText h2 {
    width: 100%;
    height: 22px;
    text-shadow: 1px 1px 0 #ffffff;
    color: #454545;
    font-family: "League Gothic";
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.nunc img {
    width: 49px;
    height: 49px;
}
#other{
     padding-left: 15px;
}
.boxes2 .readMore{
    width: 100px;
height: 14px;
text-shadow: 1px 1px 0 #ffffff;
color: #454545;
font-family: "League Gothic";
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;
    position: relative;
    left: 75%;
    top: 15px;
    cursor: pointer;
}

.down .container {
/*    width: 100%;*/
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 127px;
   
    
    
}
.logo1{
   background: url(../image/logos.png) no-repeat;
    width: 70px;
    height: 65px;
    padding: 0 40px;
    }
.logo2{
   background: url(../image/logos.png) no-repeat;
    width: 70px;
    height: 65px;
    background-position: -135px 0;
    padding: 0 40px;
    }
.logo3{
   background: url(../image/logos.png) no-repeat;
    width: 70px;
    height: 65px;
    background-position: -270px 0;
    padding: 0 40px;
    }
.logo4{
   background: url(../image/logos.png) no-repeat;
    width: 70px;
    height: 65px;
    background-position: -400px 0;
    padding: 0 40px;
    }
.logo5{
   background: url(../image/logos.png) no-repeat;
    width: 110px;
    height: 65px;
    background-position: -525px 0;
    padding: 0 40px;
    }
.logo6{
   background: url(../image/logos.png) no-repeat;
    width: 90px;
    height: 65px;
    background-position: -690px 0;
    padding: 0 40px;
    }