ul {
    display: none;
    list-style: none;
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu li {
    float: left;
    position: relative;
    
}

ul.menu li a {
    display: block;
    padding: 10px;
    width: 250px;
    height: 39px;
    font-family: League Gothic;
    text-transform: uppercase;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: rgba(34, 26, 39, 0.5);
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    
}

ul.menu li a:hover {
    background-color: rgba(34, 26, 39, 0.5);
    border-bottom: 2px solid #edbfff;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 250px;
    text-align: center;
    top: 37px;
    left: 0;
    background-color: rgba(34, 26, 39, 0.5);
}

ul.submenu li {
    display: block;
}

ul.submenu li a {
    display: block;
    padding: 10px;
    color: white;
    background-color: rgba(34, 26, 39, 0.5);
    text-decoration: none;
}

ul.submenu li a:hover {
    border-bottom: 2px solid #edbfff;
    background-color: rgba(34, 26, 39, 0.7);
}

ul .menu {
    display: none;
}